<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Java assignment Task" parallel="methods" thread-count="5" >
    <parameter name="playground_url" value="https://www.lambdatest.com/selenium-playground/" />
    <test verbose="2" name="TestScenariosWithChrome" preserve-order="false">
        <parameter name="browserName" value="Chrome"/>
        <parameter name="browserVersion" value="88.0"/>
        <parameter name="os" value="Windows 10"/>
        <classes>
            <class name="TestScenarios">
                <methods>
                    <include name="Scenario1"/>
                    <include name="Scenario2"/>
                    <include name="Scenario3"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="TestScenariosWithEdge" preserve-order="false">
        <parameter name="browserName" value="Edge"/>
        <parameter name="browserVersion" value="87.0"/>
        <parameter name="os" value="macOS Sierra"/>
        <classes>
            <class name="TestScenarios">
                <methods>
                    <include name="Scenario1"/>
                    <include name="Scenario2"/>
                    <include name="Scenario3"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="TestScenariosWithFireFox" preserve-order="false">
        <parameter name="browserName" value="FireFox"/>
        <parameter name="browserVersion" value="82.0"/>
        <parameter name="os" value="Windows 7"/>
        <classes>
            <class name="TestScenarios">
                <methods>
                    <include name="Scenario1"/>
                    <include name="Scenario2"/>
                    <include name="Scenario3"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="TestScenariosWithInternetExplorer" preserve-order="false">
        <parameter name="browserName" value="InternetExplorer"/>
        <parameter name="browserVersion" value="11.0"/>
        <parameter name="os" value="Windows 10"/>
        <classes>
            <class name="TestScenarios">
                <methods>
                    <include name="Scenario1"/>
                    <include name="Scenario2"/>
                    <include name="Scenario3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>